body{
    background-color: #FAF3DD;
}

.nav{
    background-color: #93654D;
    max-width: 800px;
    margin: 0 auto;
    height: 50px;
   
}

.nav-link.active{
    color: #8FC0A9;
}
.nav-link , .nav-link.disabled{
    color: #FAF3DD;
}



.greeting{
    padding-top: 10%;
    max-width: 500px;
    margin: 0 auto;

}

#name{
    color: #4A7C59;
}

.sm-icons{
    padding-top: 5%;
    text-align: center;

}

#statement{
    color:#93654D;

}