
.upperBd{
    background-color: #10575A;
    padding-bottom: 5%;
    padding-top: 5pt;
}

.nav p{
    font-size: 20pt;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    letter-spacing: 2pt;
    float: left;
    margin-left: 5pt;
    color: white;
   
    

}
.icons{
   float: right;
   margin-right: 5pt;
   
}

.icons i{
    padding-right: 5pt;
}


.greeting{
    margin-top: 10%;
  
    
}

.greeting.container{
    margin: 0 auto;
}

.greeting p{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    letter-spacing: 1pt;
    font-size: 14pt;
}


#hello{
    font-family: 'Playfair', serif;
    font-size: 28pt;
}



.work{
    padding-top: 7%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: -4%;
    
    
}

.work p{
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Playfair', serif; */
    margin-top: 7pt;
    letter-spacing: 1pt;
    font-weight: 500;
    
}

#workTitle{
    padding-bottom: 5%;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Playfair', serif;
    font-size: 34pt;
    color: #10575A;
   
}

.col{  
   padding-bottom: 70px;
    max-width: 500px;
    
}

.col img{
    box-shadow:  5px 5px 10px #535353;

}

.col a:hover img{
    height: 200px;
    width: 200px !important;
   
}

